/* Variables */
:root {
  --headerFont: "Karla";
  --paragraphFont: "Mukta";
  --backgroundColor: rgb(0, 2, 36);
  --currentPageButtonColor: rgb(208, 223, 118);
  --buttonColor: rgb(15, 220, 131);
  --activityBoxbackgroundColor: #6ba0d9;
  --transissionDuration: 0.3s;
}

/* Smooth scroll 😎 */
* {
  scroll-behavior: smooth;
}

/* Text color */
h1,
h2,
h3,
p,
a,
li,
label {
  color: white;
}

/* Remove whitspace*/
body {
  margin: 0;
}

/* Header margin and fonts */
h1,
h2 {
  font-family: var(--headerFont), "Arial";
  margin-right: 2%;
  margin-left: 2%;
}

/* Text margin and fonts*/
p,
li,
label {
  font-family: var(--paragraphFont), "Times New Roman";
  margin-right: 2%;
  margin-left: 2%;
}

/*Show booking form vertically*/
label,
input {
  display: block;
  padding: 0.5em;
  margin: 0.2em;
}

header {
  background-color: var(--backgroundColor);
  overflow: auto;
}

/* "The Martian" logo */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 6%;
  padding-bottom: 8px;
}

/* Navigation bar */
nav {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Ropa Sans", "Times New Roman";
  z-index: 2; /* Solved that book button appears in front of nav */
}

/*Navigation buttons*/
nav a {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: #40476d;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

/* Transition while hovering over navigation buttons */
nav a:hover {
  background-color: #1d223f;
  transition: background-color;
  transition-duration: var(--transissionDuration);
}

/* Nav button for current page yellow*/
nav a.current-page {
  background-color: var(--currentPageButtonColor);
  color: black;
}

/* Transition while hovering */
nav a.current-page:hover {
  background-color: rgb(113, 121, 65);
}

/* Background space image */
main {
  background-image: url("../img/space.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  overflow: auto; /* fixes whitespace problem on top */
}

/* Consistent button style*/
button {
  top: 50%;
  background-color: var(--buttonColor);
  font-family: "Inter";
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(13, 137, 83);
  cursor: pointer;
  transition: background-color;
  transition-duration: var(--transissionDuration);
  animation-play-state: paused;
}

/* Footer */
footer {
  background-color: var(--backgroundColor);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-family: "Mukta", "Times New Roman";
  margin-left: 2%;
}

footer section {
  margin-left: 2%;
}

/* Classes */

.no-js {
  border: solid 2px rgb(198, 98, 98);
  background-color: #364bc390;
  border-radius: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}

.flex-article section {
  padding: 3% 4%;
}

.flex-article img {
  width: 90%;
  padding: 3%;
}

.article-header {
  font-size: 2em;
}

.article-sub-header {
  font-family: "Ropa Sans", "Arial";
  font-weight: normal;
}

.button-container {
  height: 50px;
  position: relative;
  text-align: center;
}

.activity-container {
  display: flex;
  flex-direction: column;
}

.activity-box {
  padding: 1% 2%;
  margin: 2% 5%;
  background-color: var(--activityBoxbackgroundColor);
  border-radius: 3%;
}

.activity-box > img {
  width: 70%;
  display: block;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
}

.form-error {
  color: red;
  border-color: red;
}

@keyframes color_changing {
  0% {
    background-color: var(--buttonColor);
  }
  50% {
    background-color: #f8f804;
  }
}

.color_change {
  animation-name: color_changing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.change-button {
  background-color: #db6e6e;
}

.change-button:hover {
  background-color: #b64848;
}

.space-car-container {
  position: relative;
  overflow: hidden;
}

/* IDs */

#front-page-video {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px;
}

#booking-form {
  margin-left: 2%;
}

#booking-button {
  margin: 12px 5px;
}

#booking-button[disabled] {
  background: rgb(122, 129, 94);
  color: rgb(36, 34, 34);
  cursor: default;
}

#confirm-booking {
  position: absolute;
  top: 57vh;
  left: 5vh;
  margin-right: 2vh;
  background-color: #6ba0d9;
  border-radius: 10px;
  padding: 0 25px 25px 25px;
  z-index: 2; /* To overlap header buttons */
}

#error-message {
  position: absolute;
  bottom: -288px;
  left: 207px;
  border: solid 2px rgb(198, 98, 98);
  background-color: #364bc390;
  border-radius: 10px;
}

#astronaut-chat-field {
  border-radius: 10px;
  background-color: antiquewhite;
  margin: 3% 4%;
  float: left;
}

#astronaut-chat-field p {
  margin-top: 0;
  color: black;
}

#astronaut-chat-field #top-bar {
  background-color: azure;
  width: 100%;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#astronaut-chat-field #messages {
  position: relative;
  height: 280px;
  overflow: scroll;
  padding: 3% 4%;
}

#astronaut-chat-field #message-container {
  border-radius: 10px;
  background-color: #6ba0d9;
}

#astronaut-chat-field #answer-container {
  border-radius: 10px;
  background-color: #7cb379;
}

#astronaut-chat-field #messages .examples {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 95%;
}

#astronaut-chat-field .example-container {
  border-radius: 10px;
  background-color: rgb(251, 240, 227);
  border: 1px solid black;
  margin: 2px;
}

#astronaut-chat-field .example-container:hover {
  background-color: rgb(240, 230, 214);
  cursor: pointer;
}

#astronaut-chat-field .example-container p {
  margin-bottom: 2px;
}

#astronaut-chat-field form {
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: antiquewhite;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes space-car-animation {
  0% {
    /* just outside of screen left side */
    transform: scaleX(-1) translateX(100%);
    left: 0;
  }
  100% {
    /* just outside of screen right side */
    transform: scaleX(-1) translateX(0);
    left: 100vw;
  }
}

#space-car {
  width: 70px;
  position: absolute;
  transform: scaleX(-1) translateX(100%);
  left: 0;
  top: 0;
  padding: 0;
  animation-name: space-car-animation;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

/* Tablet */
@media only screen and (min-width: 650px) {
  header img {
    margin-top: 30px;
    width: 400px;
  }

  nav {
    position: sticky;
    top: 0;
  }

  nav {
    flex-direction: row;
  }

  nav a {
    font-size: 25px;
  }

  main {
    background-attachment: scroll;
  }

  footer {
    flex-direction: row;
  }

  footer section {
    padding-right: 5%;
  }

  .flex-article {
    display: flex;
  }

  .flex-article section {
    padding: 30px 40px;
  }

  .flex-article img {
    align-self: center;
    width: 47%;
    padding: 0;
    padding-right: 20px;
  }

  .flex-article img.vertical-picture {
    width: 37%;
  }

  .activity-container {
    flex-direction: row;
  }

  .activity-box {
    margin: 2%;
    width: 30%;
  }

  .activity-box img {
    width: 100%;
  }

  #front-page-video {
    border-radius: 10px;
    width: 300px;
    padding-right: 30px;
  }

  #new-booking-section {
    width: 300px;
  }

  #confirm-booking {
    top: 42vh;
    left: 28vw;
  }

  #astronaut-chat-field {
    position: absolute;
    width: 300px;
    right: 20px;
  }

  #space-car {
    width: 100px;
    animation-duration: 10s;
  }
}

/* Ensure page takes up the full width */
@media only screen and (min-width: 650px) and (min-height: 650px) {
  main {
    min-height: 59.85vh;
  }
}

@media only screen and (min-width: 850px) {
  .flex-article img.vertical-picture {
    width: 350px;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .main-content-reduced-width {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
