:root {
  --activityBoxbackgroundColor: #6ba0d9;
}

.activity-container {
  display: flex;
  flex-direction: column;
}

.activity-box {
  padding: 1% 2%;
  margin: 2% 5%;
  background-color: var(--activityBoxbackgroundColor);
  border-radius: 3%;
}

.activity-box img {
  width: 70%;
  display: block;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media only screen and (min-width: 600px) {
  .activity-container {
    flex-direction: row;
  }
  .activity-box {
    margin: 2%;
    width: 30%;
  }
  .activity-box img {
    width: 100%;
  }
}
