:root {
  --activityBoxbackgroundColor: #6ba0d9;
}

.activity-container {
  display: flex;
  flex-direction: column;
}

.activity-box {
  padding: 1% 2%;
  margin: 2% 5%;
  background-color: var(--activityBoxbackgroundColor);
  border-radius: 3%;
}

.activity-box img {
  width: 70%;
  display: block;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .activity-container {
    flex-direction: row;
  }
  .activity-box {
    margin: 2%;
    width: 30%;
  }
  .activity-box img {
    width: 100%;
  }
}
