#booking-form {
  margin-left: 2%;
}

#booking-button {
  margin: 12px 5px;
}

label {
  font-family: var(--paragraphFont), "Times New Roman";
}

.form-error {
  color: red;
  border-color: red;
}

button[disabled] {
  background: rgb(122, 129, 94);
  color: rgb(36, 34, 34);
  cursor: default;
}
