/* Variables */
:root {
  --headerFont: "Karla";
  --paragraphFont: "Mukta";
  --backgroundColor: rgb(0, 2, 36);
  --currentPageButtonColor: rgb(208, 223, 118);
  --buttonColor: rgb(15, 220, 131);
  --transissionDuration: 0.3s;
}

h1,
h2,
h3,
p,
a,
li,
label {
  color: white;
}

label,
input {
  display: block;
  padding: 0.5em;
  margin: 0.2em;
}

h1,
h2 {
  font-family: var(--headerFont), "Arial";
}

p,
li {
  font-family: var(--paragraphFont), "Times New Roman";
}

header {
  background-color: var(--backgroundColor);
  overflow: auto;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 6%;
  padding-bottom: 8px;
}

main {
  background-image: url("img/space.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  overflow: auto; /* fixes whitespace problem on top */
}

.flex-article section {
  padding: 3% 4%;
}

.flex-article img {
  width: 90%;
  padding: 3%;
}

#map {
  width: 90%;
  padding: 1% 2%;
}

nav {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Ropa Sans", "Times New Roman";
  z-index: 2; /* Solved that book button appears in front */
}

nav a {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: #40476d;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #1d223f;
  transition: background-color;
  transition-duration: var(--transissionDuration);
}

nav a.current-page {
  background-color: var(--currentPageButtonColor);
  color: black;
}

nav a.current-page:hover {
  background-color: rgb(113, 121, 65);
}

video {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px;
}

.article-header {
  font-size: 2em;
}

.article-sub-header {
  font-family: "Ropa Sans", "Arial";
  font-weight: normal;
}

.button-container {
  height: 50px;
  position: relative;
  text-align: center;
}

button {
  top: 50%;
  background-color: var(--buttonColor);
  font-family: "Inter";
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(13, 137, 83);
  cursor: pointer;
  transition: background-color;
  transition-duration: var(--transissionDuration);
}

footer {
  background-color: var(--backgroundColor);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-family: "Mukta", "Times New Roman";
}

/* must be underneath to overwrite property */
@media only screen and (min-width: 600px) {
  nav {
    position: sticky;
    top: 0;
  }
  header img {
    margin-top: 30px;
    width: 400px;
  }
  nav {
    flex-direction: row;
  }
  nav a {
    font-size: 25px;
  }
  main {
    background-attachment: unset;
  }
  #map {
    width: 63%;
  }
  video {
    border-radius: 10px;
    width: 300px;
    padding-right: 30px;
  }
  article.video {
    display: flex;
  }
  .flex-article {
    display: flex;
  }
  .flex-article img {
    align-self: center;
    width: 40%;
  }
  .flex-article img.vertical-picture {
    width: 30%;
  }
  footer {
    flex-direction: row;
  }
  footer section {
    padding-right: 5%;
  }
}
