h1,
h2,
h3,
p,
a {
  color: white;
}

header {
  background-color: rgb(0, 2, 36);
  overflow: auto;
}

header h1 {
  text-align: center;
}

main {
  background-image: url("img/space.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto; /* fixes whitespace problem on top */
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  text-align: center;
  background-color: #40476d;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #1d223f;
  transition: background-color;
  transition-duration: 0.5s;
}

footer {
  background-color: rgb(0, 2, 36);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* must be underneath to overwrite property */
@media only screen and (min-width: 600px) {
  nav {
    flex-direction: row;
  }
  main {
    background-attachment: unset;
  }
  footer {
    flex-direction: row;
  }
  footer section {
    padding-right: 5%;
  }
}
